<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>EMH49F8A2Y.me.mhaeuser.batterytoolkitd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;$(BT_APP_ID)&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;$(BT_CODESIGN_CN)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
