<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>me.mhaeuser.batterytoolkitd</key>
		<string>identifier &quot;me.mhaeuser.batterytoolkitd&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;$(BT_CODE_SIGN_CN)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
